$icon-size: 40px;
$icon-bg-active: #008eff;
$icon-bg-inactive: #e9e9e9;

.step {

	display: flex;
	flex-direction: column;
	align-items: center;

	.icon-wrapper {
		width: 48px;
		height: 48px;
		background: $icon-bg-inactive;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		&::before {
			width: 222px;
			height: 2px;
			background: $icon-bg-inactive;
			position: absolute;
			display: block;
			content: " ";
			transform: translateX(-50%);
			z-index: -1;
		}

	
		.icon {
			
			width: $icon-size;
			height: $icon-size;
			border-radius: 50%;
			background-color: $icon-bg-inactive;
			border: 2px solid white;
			z-index: 3;

			&.document1 {
				background-image: url('../../../../assets/notes.svg');
				background-size: 25px;
				background-position-x: 8px;
				background-repeat: no-repeat;
				background-position-y: 7px;
				opacity: .7;
			}
			&.document2,
			&.document3 {
				background-image: url('../../../../assets/notebooks.svg');
				background-size: 25px;
				background-position-x: 8px;
				background-repeat: no-repeat;
				background-position-y: 7px;
				opacity: .7;
			}
		}
		
	}	

	.label {
		color: $icon-bg-inactive;
	}

	&.first {
		.icon-wrapper::before {
			display: none;
		}
	}

	&.active {
		.icon-wrapper {
			background: $icon-bg-active;
			&::before {
				background: $icon-bg-active;
			}
			.icon {
				background-color: $icon-bg-active;
			}
		}
		.label {
		color: black;
		}

	}
}

.icon.document1 {
	background-image: url('../../../../assets/notes.svg');
}