<div class="step" 
[ngClass]="{'first': step.index == 0, 'active': step.status == 'ACTIVE'} ">

	<div class="icon-wrapper">

		<div class="icon" [ngClass]="step.icon">
			
		</div>
		
	</div>

	<div class="label">
		{{ step.label }}
	</div>
</div>