$color-bg: #f3fdf8;
$color-success: #6cd0a0;
$color-warn: #fdba05;
$bg-success: #f3fdf8;
$bg-warn: #fff9f1;

.total-label {
	width: 200px;
	height: 36px;
	font-size: 16px;
	font-weight: 600;
	background-color: $color-bg;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 50px 0 0;

	transition: background-color .2s ease-in, color .2s ease-in; 
	&.success {
		background-color: $bg-success;
		color: $color-success;
		transition: background-color .2s ease-out, color .2s ease-out; 
	}
	&.warn {
		background-color: $bg-warn;
		color: $color-warn;
		transition: background-color .2s ease-out, color .2s ease-out; 
	}

}