
$color-label: #363636;
$input-bg: #f6f6f6;
$color-invalid: #c853538f;


:host {

	margin: 80px 40px;

	.form-heading {
		color: #6c757d;
		margin: 40px 0;
		letter-spacing: 2px;
	}

	.ira-input {

		display: flex;
		flex-direction: column;

		label {
			color: $color-label;
		}

		input[type=text],
		input[type=date],
		input[type=number],
		select {
			background-color: $input-bg;
			border-radius: 5px;
			height: 36px;
			margin: 12px 0;
			margin-right: 20px;

			box-sizing: border-box;
			border: 2px solid $input-bg;
			padding: 12px;
			transition: border-color .2s ease-out;

			&.w-sm {
				max-width: 112px;
			}

			&.w-xs {
				max-width: 70px;
			}

			&.ng-invalid.ng-dirty {
				border: 2px solid $color-invalid;
				transition: border-color .2s ease-in;
			}

		}

		select {
			appearance: none;
			-webkit-appearance: none;
		}

		input.percentage-icon {
			background-image: url('../../../assets/percentage.svg');
			padding-right: 30px;
			background-repeat: no-repeat;
			background-size: 22px;
			background-position-x: 90%;
			background-position-y: center;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button{
				-webkit-appearance: none;
				-moz-appearance: none;
				margin: 0;
			}
		}

		input[type=date] {
			background-image: url('../../../assets/calendar.svg');
			padding-left: 36px;
			background-repeat: no-repeat;
			background-size: 22px;
			background-position-x: 9px;
			background-position-y: 7px;
		}

		select {
			padding: 0 12px;
		}
	}

	.form-label {
		color: #363636;
		margin: 20px 0;
		font-weight: bold;
	}

	.input-row-wrapper {
		display: flex;
		flex-direction: row;
		margin-bottom: 24px;
		max-width: 1024px;
	}


	.total-label-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
	}

	.row-actions {
		min-width: 100px;
	}

	.btn-row-actions {
		
		width: 36px;
		height: 36px;
		min-width: 36px;
		min-height: 36px;
		background-position-y: center;
		margin-top: 30px;
		cursor: pointer;
		background-color: white;
		background-position: center;
		margin-left: 5px;
		border-radius: 5px;

		transition: background-color .2s ease-out;
		&:hover {
			background-color: $input-bg;
			transition: background-color .2s ease-in;
		}

		&.row-remove {
			background-image: url('../../../assets/remove-mark.png');
		}
		&.row-add {
			background-image: url('../../../assets/check-mark.png');

		}
	}

	.contingent-checkbox-wrapper {
		margin: 40px 0;
		display: flex;
		align-items: center;

		font-size: 16px;
		font-weight: bold;
	}



	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	  //TODO: remove scaling
	  transform: scale(.65);
	  margin-left: 16px;
	}

	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked+.slider {
	  background-color: #2196F3;
	}

	input:focus+.slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}

	$submit-bg: #008eff;
	$submit-bg-disabled: #c7c7c7;

	button.submit-btn {

		height: 33px;
		width: 120px;
		background-color: $submit-bg;
		border-radius: 5px;
		color: #ffffff;
		text-align: center;
		cursor: pointer;
		border: none;
		opacity: 1;
		transition: background-color .2s ease-in, opacity .1s ease-in;
		
		&:disabled {
			background-color: $submit-bg-disabled;
			transition: background-color .2s ease-in;
		}

		&::hover {
			transition: opacity .1s ease-out;
			opacity: .9;
		}


	}
}