<div class="form-heading">
  BENEFICIARIES
</div>

<div class="form-label">
  Primary Beneficiaries
</div>

<form [formGroup]="beneficiariesForm">

  <div *ngFor="let row of beneficiariesArray.controls; let i = index; let last = last">

    <ng-container [formGroup]="row" class="input-row">

      <div class="input-row-wrapper">

        <div class="ira-input">
          <label> Full Name</label>
          <input type="text" placeholder="Full Name" formControlName="fullName">
        </div>

        <div class="ira-input">
          <label> Date of Birth</label>
          <input type="date" formControlName="dateOfBirth">
        </div>

        <div class="ira-input no-label w-xs">
          <label>SSN</label>
          <select formControlName="ssn" class="ira-select">
            <option *ngFor="let opt of ssnOpts">
              {{ opt.label }}
            </option>
          </select>

        </div>

        <div class="ira-input no-label w-sm">
          <label>Optional</label>
          <input type="text" formControlName="optional" class="w-sm">
        </div>

        <div class="ira-input">
          <label>Relationship</label>
          <select formControlName="relationship" class="ira-select">
            <option *ngFor="let opt of relationshipOpts">
              {{ opt.label }}
            </option>
          </select>
        </div>

        <div class="ira-input">
          <label>Percentage</label>
          <input type="number" [disabled]="!last" [readOnly]="!last" formControlName="percentage" min="0" max="100" class="percentage-icon w-xs">
        </div>


        <div class="row-actions">

          <div *ngIf="!last" class="btn-row-actions row-remove" (click)="removeItem(i)"></div>

          <div *ngIf="row.get('percentage').valid && last && total != 100" class="btn-row-actions row-add" (click)="addItem()">&nbsp;
          </div>

        </div>

      </div>


    </ng-container>

  </div>

  <div class="total-label-wrapper">
    <ira-total-label [count]="total"></ira-total-label>
  </div>

  <div class="contingent-checkbox-wrapper">
    <label for="contingent-beneficiaries">Contingent Beneficiaries</label>

    <label class="switch">
      <input type="checkbox" formControlName="contingentBeneficiaries">
      <span class="slider round"></span>
    </label>
  </div>

  <button class="submit-btn" [disabled]="total !== 100">
    Next
  </button>

</form>
