$toolbar-height: 80px;
$toolbar-color: rgb(0, 0, 0);
$toolbar-color-lighten: #363636;
$toolbar-bg: rgb(255, 255, 255);
$toolbar-border: 1px solid #e9e9e9;


.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 14px;
  font-weight: 600;
  background-color: $toolbar-bg;
  height: $toolbar-height;
  border-bottom: $toolbar-border;
}

.logo-section {

  margin-left: 10px;
  position: absolute;
  left: 15px;

  .top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: $toolbar-color;
    font-size: 20px;

    .text {
      margin-left: 8px;
    }
  }
  
  .bottom {
    margin-top: 8px;
    font-size: 12px;
    color: $toolbar-color-lighten;
  }

}