<div class="toolbar" role="banner">


  <div class="logo-section">

    <div class="top">
      <ira-slavic-logo></ira-slavic-logo>
      <div class="text">IRA Application</div>
    </div>

    <div class="bottom">
      IRA Accounts provided by Fidelity Investments
    </div>
    
    
    
  </div>


  <ira-stepper
  [steps]="steps"></ira-stepper>

</div>
