<style>

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  

</style>

<ira-toolbar></ira-toolbar>

<div class="content" role="main">

  <ira-sidebar [items]="sidebarItems"></ira-sidebar>
  

  <ira-application></ira-application>

</div>
