$sidebar-border: 1px solid #e9e9e9;
$sidebar-width: 269px;

$toolbar-height: 80px;


.sidebar {
	height: 100%;
	width: $sidebar-width;
	margin-top: $toolbar-height;

	// background-color: blueviolet;
	border-right: $sidebar-border;
}