
$item-height: 50px;
$color-primary: #008eff;
$status-mark-size: 12px;

$color-grey-active: #363636;
$color-grey-complete: #6c757d;
$color-grey-incomplete: #c7c7c7;
$color-bg-active: #f6f6f6;


.sidebar-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: $item-height;

	.status-mark {
		width: 20px;
		height: 20px;

		margin: 21px 17px 16px 15px;
	}

	.label {
		padding-top: 6px;
		font-size: 14px;
	}

	&.COMPLETE {
		.status-mark {
			background-position-y: center;
			background-image: url('./../../../../assets/check-mark.png');
		}

		.label {
			color: $color-grey-complete;
		}
	}

	&.ACTIVE, 
	&.INCOMPLETE {
		padding-left: 6px;

		.label {
			padding-left: 2px;
		}

		.status-mark {
			width: $status-mark-size;
			height: $status-mark-size;
			background-color: $color-primary;
			border-radius: 50%;
		}
	}

	&.ACTIVE {
		background: $color-bg-active;

		.label {
			color: $color-grey-active;
			font-weight: bolder;
		}
	}

	&.INCOMPLETE {
		
		.label {
			color: $color-grey-incomplete;
		}

		.status-mark {
			background-color: white;
			border: 1px solid $color-grey-incomplete;
		}
	}
}